authorname: "Simon Grimm"
draft: false

project:
  type: website

  resources:
    - "img/**"
    - "sitemap.xml"
    - "_redirects"

  preview:
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true
  output-dir: docs

title-meta: "Simon Grimm"
description-meta: "Medical Doctor & Research Analyst | Biosecurity and Pandemic Preparedness"

website:
  title: "Simon Grimm"
  description: "Medical Doctor & Research Analyst | Biosecurity and Pandemic Preparedness"
  site-url: https://www.simongrimm.com
  image: img/website_thumbnail.png

  repo-url: "https://github.com/simonleandergrimm/simon-grimm"
  repo-branch: main

  search:
    location: navbar
    type: textbox

  navbar:
    pinned: true
    # logo: /img/windmill-icon.png
    right:
      - icon: twitter
        href: https://twitter.com/simon_grimm
      - icon: github
        href: https://github.com/simonleandergrimm
      - icon: linkedin
        href: https://www.linkedin.com/in/simon-leander-grimm/
      - icon: envelope
        aria-label: email
        href: "mailto:simonleandergrimm@gmail.com"

  favicon: img/windmill.ico

  twitter-card:
    creator: "@simon__grimm"
    image: "/img/website_thumbnail.png"

  open-graph:
    image: "/img/website_thumbnail.png"
    locale: en_US

  # google-analytics:
  #   tracking-id: G-N36VLTEM79
  #   storage: none

  page-footer:
    left: |
      <span class="faux-block"><a href="https://github.com/marvinschmitt/marvinschmitt-dot-com">{{< fa brands github >}} Adapted from marvinschmitt.com</a></span>

execute:
  freeze: true

filters:
  - html/newpagelink.lua

format:
  html:
    include-in-header: html/seo.html
    fontsize: 1.1em
    theme:
      # - flatly
      - html/styles.scss
    toc: false
    anchor-sections: true
    fig-cap-location: bottom
    reference-location: margin
    footnotes-hover: true
    highlight-style: monokai
    grid:
      body-width: 1500px
      sidebar-width: 200px
      margin-width: 200px
